- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('protected_tags')

.row.prepend-top-default.append-bottom-default.js-protected-tags-container{ data: { "groups-autocomplete" => "#{autocomplete_project_groups_path(format: :json)}", "users-autocomplete" => "#{autocomplete_users_path(format: :json)}" } }
  .col-lg-3
    %h4.prepend-top-0
      Protected Tags
    %p.prepend-top-20
      By default, protected tags are designed to:
      %ul
        %li Prevent tag creation by everybody except Masters
        %li Prevent <strong>anyone</strong> from updating the tag
        %li Prevent <strong>anyone</strong> from deleting the tag
      %p.append-bottom-0 Read more about #{link_to "protected tags", help_page_path("user/project/protected_tags"), class: "underlined-link"}.
  .col-lg-9
    - if can? current_user, :admin_project, @project
      = render 'projects/protected_tags/create_protected_tag'

    = render "projects/protected_tags/tags_list"
